In [1]:
import pyspark

In [2]:
pyspark.__version__

'3.5.0'

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/16 12:31:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [10]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-02-16 08:19:35--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/afb2f0a6-bb8b-4958-9818-834bda641e9e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240216%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240216T081935Z&X-Amz-Expires=300&X-Amz-Signature=229448ef195390587b23c4dd9f94f0e25ed25e187f680c4bda0c7cd6af506c15&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-02-16 08:19:35--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/afb2f0a6-bb8b-4958-9818-834bda641e9e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240216%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240216T081935Z&X-Amz-Expires=300&X-Amz-Signature=229448ef195390587b23c4dd9f94f0e25ed25e187f680c4bda0c7cd6af506c15&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 134445150 (128M) [application/octet-stream]
Saving to: ‘yellow_tripdata_2019-01.csv.gz’

yellow_tripdata_201 100%[===================>] 128.22M   104MB/s    in 1.2s

2024-02-16 08:19:37 (104 MB/s) - ‘yellow_tripdata_2019-01.csv.gz’ saved [134445150/134445150]

In [15]:
!gzip -d fhv_tripdata_2019-10.csv.gz

In [16]:
!ls -lth

total 656M
-rw-rw-r-- 1 marfanyan marfanyan 5.8K Feb 16 08:20 Untitled.ipynb
-rw-rw-r-- 1 marfanyan marfanyan 9.6K Feb 14 11:52 PySpark.ipynb
drwxr-xr-x 2 marfanyan marfanyan 4.0K Feb 14 11:50 zones
-rw-rw-r-- 1 marfanyan marfanyan 656M Jul 14  2022 yellow_tripdata_2019-01.csv
-rw-rw-r-- 1 marfanyan marfanyan  13K Aug 17  2016 taxi+_zone_lookup.csv

In [18]:
!wc -l fhv_tripdata_2019-10.csv

7667793 yellow_tripdata_2019-01.csv

In [19]:
df= spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv')

In [20]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       1| 2019-01-01 00:46:40|  2019-01-01 00:53:20|              1|         1.50|         1|                 N|         151|         239|           1|          7|  0.5|    0.5|      1.65|           0|                  0.3|        9.95|                NULL|
|       1| 2019-01-01 00:59:47|  2019-01-01 01:18:59|              1|         2.60|         1|                 N|         239|         246|           1|         14|  0.5|    0.5|         1|           0|                  0.3|        16.3|                NULL|
|       2| 2018-12-21 13:48:30|  2018-12-21 13:52:40|              3|          .00|         1|                 N|         236|         236|           1|        4.5|  0.5|    0.5|         0|           0|                  0.3|         5.8|                NULL|
|       2| 2018-11-28 15:52:25|  2018-11-28 15:55:45|              5|          .00|         1|                 N|         193|         193|           2|        3.5|  0.5|    0.5|         0|           0|                  0.3|        7.55|                NULL|
|       2| 2018-11-28 15:56:57|  2018-11-28 15:58:33|              5|          .00|         2|                 N|         193|         193|           2|         52|    0|    0.5|         0|           0|                  0.3|       55.55|                NULL|
|       2| 2018-11-28 16:25:49|  2018-11-28 16:28:26|              5|          .00|         1|                 N|         193|         193|           2|        3.5|  0.5|    0.5|         0|        5.76|                  0.3|       13.31|                NULL|
|       2| 2018-11-28 16:29:37|  2018-11-28 16:33:43|              5|          .00|         2|                 N|         193|         193|           2|         52|    0|    0.5|         0|           0|                  0.3|       55.55|                NULL|
|       1| 2019-01-01 00:21:28|  2019-01-01 00:28:37|              1|         1.30|         1|                 N|         163|         229|           1|        6.5|  0.5|    0.5|      1.25|           0|                  0.3|        9.05|                NULL|
|       1| 2019-01-01 00:32:01|  2019-01-01 00:45:39|              1|         3.70|         1|                 N|         229|           7|           1|       13.5|  0.5|    0.5|       3.7|           0|                  0.3|        18.5|                NULL|
|       1| 2019-01-01 00:57:32|  2019-01-01 01:09:32|              2|         2.10|         1|                 N|         141|         234|           1|         10|  0.5|    0.5|       1.7|           0|                  0.3|          13|                NULL|
|       1| 2019-01-01 00:24:04|  2019-01-01 00:47:06|              2|         2.80|         1|                 N|         246|         162|           1|         15|  0.5|    0.5|      3.25|           0|                  0.3|       19.55|                NULL|
|       1| 2019-01-01 00:21:59|  2019-01-01 00:28:24|              1|          .70|         1|                 N|         238|         151|           1|        5.5|  0.5|    0.5|       1.7|           0|                  0.3|         8.5|                NULL|
|       1| 2019-01-01 00:45:21|  2019-01-01 01:31:05|              1|         8.70|         1|                 N|         163|          25|           1|       34.5|  0.5|    0.5|      7.15|           0|                  0.3|       42.95|                NULL|
|       1| 2019-01-01 00:43:19|  2019-01-01 01:07:42|              1|         6.30|         1|                 N|         224|          25|           1|       21.5|  0.5|    0.5|       5.7|           0|                  0.3|        28.5|                NULL|
|       1| 2019-01-01 00:58:24|  2019-01-01 01:15:18|              1|         2.70|         1|                 N|         141|         234|           1|         13|  0.5|    0.5|         1|           0|                  0.3|        15.3|                NULL|
|       2| 2019-01-01 00:23:14|  2019-01-01 00:25:40|              1|          .38|         1|                 N|         170|         170|           2|        3.5|  0.5|    0.5|         0|           0|                  0.3|         4.8|                NULL|
|       2| 2019-01-01 00:39:51|  2019-01-01 00:48:02|              1|          .55|         1|                 N|         170|         170|           1|        6.5|  0.5|    0.5|      1.95|           0|                  0.3|        9.75|                NULL|
|       2| 2019-01-01 00:46:00|  2019-01-01 00:49:07|              1|          .30|         1|                 N|         107|         107|           1|          4|  0.5|    0.5|      1.06|           0|                  0.3|        6.36|                NULL|
|       2| 2019-01-01 00:57:45|  2019-01-01 01:03:51|              1|         1.42|         1|                 N|         170|         141|           1|        6.5|  0.5|    0.5|      1.56|           0|                  0.3|        9.36|                NULL|
|       2| 2019-01-01 00:16:16|  2019-01-01 00:25:57|              1|         1.72|         1|                 N|          41|         247|           2|          9|  0.5|    0.5|         0|           0|                  0.3|        10.3|                NULL|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

In [21]:
df.head(5)

[Row(VendorID='1', tpep_pickup_datetime='2019-01-01 00:46:40', tpep_dropoff_datetime='2019-01-01 00:53:20', passenger_count='1', trip_distance='1.50', RatecodeID='1', store_and_fwd_flag='N', PULocationID='151', DOLocationID='239', payment_type='1', fare_amount='7', extra='0.5', mta_tax='0.5', tip_amount='1.65', tolls_amount='0', improvement_surcharge='0.3', total_amount='9.95', congestion_surcharge=None),
 Row(VendorID='1', tpep_pickup_datetime='2019-01-01 00:59:47', tpep_dropoff_datetime='2019-01-01 01:18:59', passenger_count='1', trip_distance='2.60', RatecodeID='1', store_and_fwd_flag='N', PULocationID='239', DOLocationID='246', payment_type='1', fare_amount='14', extra='0.5', mta_tax='0.5', tip_amount='1', tolls_amount='0', improvement_surcharge='0.3', total_amount='16.3', congestion_surcharge=None),
 Row(VendorID='2', tpep_pickup_datetime='2018-12-21 13:48:30', tpep_dropoff_datetime='2018-12-21 13:52:40', passenger_count='3', trip_distance='.00', RatecodeID='1', store_and_fwd_flag='N', PULocationID='236', DOLocationID='236', payment_type='1', fare_amount='4.5', extra='0.5', mta_tax='0.5', tip_amount='0', tolls_amount='0', improvement_surcharge='0.3', total_amount='5.8', congestion_surcharge=None),
 Row(VendorID='2', tpep_pickup_datetime='2018-11-28 15:52:25', tpep_dropoff_datetime='2018-11-28 15:55:45', passenger_count='5', trip_distance='.00', RatecodeID='1', store_and_fwd_flag='N', PULocationID='193', DOLocationID='193', payment_type='2', fare_amount='3.5', extra='0.5', mta_tax='0.5', tip_amount='0', tolls_amount='0', improvement_surcharge='0.3', total_amount='7.55', congestion_surcharge=None),
 Row(VendorID='2', tpep_pickup_datetime='2018-11-28 15:56:57', tpep_dropoff_datetime='2018-11-28 15:58:33', passenger_count='5', trip_distance='.00', RatecodeID='2', store_and_fwd_flag='N', PULocationID='193', DOLocationID='193', payment_type='2', fare_amount='52', extra='0', mta_tax='0.5', tip_amount='0', tolls_amount='0', improvement_surcharge='0.3', total_amount='55.55', congestion_surcharge=None)]

In [22]:
df.schema

StructType([StructField('VendorID', StringType(), True), StructField('tpep_pickup_datetime', StringType(), True), StructField('tpep_dropoff_datetime', StringType(), True), StructField('passenger_count', StringType(), True), StructField('trip_distance', StringType(), True), StructField('RatecodeID', StringType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('payment_type', StringType(), True), StructField('fare_amount', StringType(), True), StructField('extra', StringType(), True), StructField('mta_tax', StringType(), True), StructField('tip_amount', StringType(), True), StructField('tolls_amount', StringType(), True), StructField('improvement_surcharge', StringType(), True), StructField('total_amount', StringType(), True), StructField('congestion_surcharge', StringType(), True)])

In [23]:
!head -n 101 yellow_tripdata_2019-01.csv > head.csv

In [24]:
!ls -lth

total 656M
-rw-rw-r-- 1 marfanyan marfanyan  17K Feb 16 08:24 Untitled.ipynb
-rw-rw-r-- 1 marfanyan marfanyan 9.1K Feb 16 08:24 head.csv
-rw-rw-r-- 1 marfanyan marfanyan 9.6K Feb 14 11:52 PySpark.ipynb
drwxr-xr-x 2 marfanyan marfanyan 4.0K Feb 14 11:50 zones
-rw-rw-r-- 1 marfanyan marfanyan 656M Jul 14  2022 yellow_tripdata_2019-01.csv
-rw-rw-r-- 1 marfanyan marfanyan  13K Aug 17  2016 taxi+_zone_lookup.csv

In [25]:
!wc -l head.csv

101 head.csv

In [26]:
import pandas as pd

In [27]:
df_pandas = pd.read_csv('head.csv')

In [28]:
df_pandas.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [31]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('VendorID', LongType(), True), StructField('tpep_pickup_datetime', StringType(), True), StructField('tpep_dropoff_datetime', StringType(), True), StructField('passenger_count', LongType(), True), StructField('trip_distance', DoubleType(), True), StructField('RatecodeID', LongType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('payment_type', LongType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True)])

In [55]:
from pyspark.sql import types

In [44]:
schema = types.StructType([
    types.StructField('VendorID', types.IntegerType(), True), 
    types.StructField('tpep_pickup_datetime', types.TimestampType(), True), 
    types.StructField('tpep_dropoff_datetime', types.TimestampType(), True), 
    types.StructField('passenger_count', types.IntegerType(), True), 
    types.StructField('trip_distance', types.DoubleType(), True), 
    types.StructField('RatecodeID', types.IntegerType(), True), 
    types.StructField('store_and_fwd_flag', types.StringType(), True), 
    types.StructField('PULocationID', types.IntegerType(), True), 
    types.StructField('DOLocationID', types.IntegerType(), True), 
    types.StructField('payment_type', types.IntegerType(), True), 
    types.StructField('fare_amount', types.IntegerType(), True), 
    types.StructField('extra', types.DoubleType(), True), 
    types.StructField('mta_tax', types.DoubleType(), True), 
    types.StructField('tip_amount', types.IntegerType(), True), 
    types.StructField('tolls_amount', types.DoubleType(), True), 
    types.StructField('improvement_surcharge', types.DoubleType(), True), 
    types.StructField('total_amount', types.DoubleType(), True), 
    types.StructField('congestion_surcharge', types.StringType(), True)
])

In [45]:
df= spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('yellow_tripdata_2019-01.csv')

In [47]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       1| 2019-01-01 00:46:40|  2019-01-01 00:53:20|              1|          1.5|         1|                 N|         151|         239|           1|          7|  0.5|    0.5|      NULL|         0.0|                  0.3|        9.95|                NULL|
|       1| 2019-01-01 00:59:47|  2019-01-01 01:18:59|              1|          2.6|         1|                 N|         239|         246|           1|         14|  0.5|    0.5|         1|         0.0|                  0.3|        16.3|                NULL|
|       2| 2018-12-21 13:48:30|  2018-12-21 13:52:40|              3|          0.0|         1|                 N|         236|         236|           1|       NULL|  0.5|    0.5|         0|         0.0|                  0.3|         5.8|                NULL|
|       2| 2018-11-28 15:52:25|  2018-11-28 15:55:45|              5|          0.0|         1|                 N|         193|         193|           2|       NULL|  0.5|    0.5|         0|         0.0|                  0.3|        7.55|                NULL|
|       2| 2018-11-28 15:56:57|  2018-11-28 15:58:33|              5|          0.0|         2|                 N|         193|         193|           2|         52|  0.0|    0.5|         0|         0.0|                  0.3|       55.55|                NULL|
|       2| 2018-11-28 16:25:49|  2018-11-28 16:28:26|              5|          0.0|         1|                 N|         193|         193|           2|       NULL|  0.5|    0.5|         0|        5.76|                  0.3|       13.31|                NULL|
|       2| 2018-11-28 16:29:37|  2018-11-28 16:33:43|              5|          0.0|         2|                 N|         193|         193|           2|         52|  0.0|    0.5|         0|         0.0|                  0.3|       55.55|                NULL|
|       1| 2019-01-01 00:21:28|  2019-01-01 00:28:37|              1|          1.3|         1|                 N|         163|         229|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|        9.05|                NULL|
|       1| 2019-01-01 00:32:01|  2019-01-01 00:45:39|              1|          3.7|         1|                 N|         229|           7|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|        18.5|                NULL|
|       1| 2019-01-01 00:57:32|  2019-01-01 01:09:32|              2|          2.1|         1|                 N|         141|         234|           1|         10|  0.5|    0.5|      NULL|         0.0|                  0.3|        13.0|                NULL|
|       1| 2019-01-01 00:24:04|  2019-01-01 00:47:06|              2|          2.8|         1|                 N|         246|         162|           1|         15|  0.5|    0.5|      NULL|         0.0|                  0.3|       19.55|                NULL|
|       1| 2019-01-01 00:21:59|  2019-01-01 00:28:24|              1|          0.7|         1|                 N|         238|         151|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|         8.5|                NULL|
|       1| 2019-01-01 00:45:21|  2019-01-01 01:31:05|              1|          8.7|         1|                 N|         163|          25|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|       42.95|                NULL|
|       1| 2019-01-01 00:43:19|  2019-01-01 01:07:42|              1|          6.3|         1|                 N|         224|          25|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|        28.5|                NULL|
|       1| 2019-01-01 00:58:24|  2019-01-01 01:15:18|              1|          2.7|         1|                 N|         141|         234|           1|         13|  0.5|    0.5|         1|         0.0|                  0.3|        15.3|                NULL|
|       2| 2019-01-01 00:23:14|  2019-01-01 00:25:40|              1|         0.38|         1|                 N|         170|         170|           2|       NULL|  0.5|    0.5|         0|         0.0|                  0.3|         4.8|                NULL|
|       2| 2019-01-01 00:39:51|  2019-01-01 00:48:02|              1|         0.55|         1|                 N|         170|         170|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|        9.75|                NULL|
|       2| 2019-01-01 00:46:00|  2019-01-01 00:49:07|              1|          0.3|         1|                 N|         107|         107|           1|          4|  0.5|    0.5|      NULL|         0.0|                  0.3|        6.36|                NULL|
|       2| 2019-01-01 00:57:45|  2019-01-01 01:03:51|              1|         1.42|         1|                 N|         170|         141|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|        9.36|                NULL|
|       2| 2019-01-01 00:16:16|  2019-01-01 00:25:57|              1|         1.72|         1|                 N|          41|         247|           2|          9|  0.5|    0.5|         0|         0.0|                  0.3|        10.3|                NULL|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

In [48]:
df.head(5)

[Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2019, 1, 1, 0, 46, 40), tpep_dropoff_datetime=datetime.datetime(2019, 1, 1, 0, 53, 20), passenger_count=1, trip_distance=1.5, RatecodeID=1, store_and_fwd_flag='N', PULocationID=151, DOLocationID=239, payment_type=1, fare_amount=7, extra=0.5, mta_tax=0.5, tip_amount=None, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=9.95, congestion_surcharge=None),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2019, 1, 1, 0, 59, 47), tpep_dropoff_datetime=datetime.datetime(2019, 1, 1, 1, 18, 59), passenger_count=1, trip_distance=2.6, RatecodeID=1, store_and_fwd_flag='N', PULocationID=239, DOLocationID=246, payment_type=1, fare_amount=14, extra=0.5, mta_tax=0.5, tip_amount=1, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=16.3, congestion_surcharge=None),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2018, 12, 21, 13, 48, 30), tpep_dropoff_datetime=datetime.datetime(2018, 12, 21, 13, 52, 40), passenger_count=3, trip_distance=0.0, RatecodeID=1, store_and_fwd_flag='N', PULocationID=236, DOLocationID=236, payment_type=1, fare_amount=None, extra=0.5, mta_tax=0.5, tip_amount=0, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=5.8, congestion_surcharge=None),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2018, 11, 28, 15, 52, 25), tpep_dropoff_datetime=datetime.datetime(2018, 11, 28, 15, 55, 45), passenger_count=5, trip_distance=0.0, RatecodeID=1, store_and_fwd_flag='N', PULocationID=193, DOLocationID=193, payment_type=2, fare_amount=None, extra=0.5, mta_tax=0.5, tip_amount=0, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=7.55, congestion_surcharge=None),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2018, 11, 28, 15, 56, 57), tpep_dropoff_datetime=datetime.datetime(2018, 11, 28, 15, 58, 33), passenger_count=5, trip_distance=0.0, RatecodeID=2, store_and_fwd_flag='N', PULocationID=193, DOLocationID=193, payment_type=2, fare_amount=52, extra=0.0, mta_tax=0.5, tip_amount=0, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=55.55, congestion_surcharge=None)]

In [50]:
df= df.repartition(24)

In [53]:
df.write.parquet('yellow/2019/01/')

In [5]:
df = spark.read.parquet('yellow/2019/01/')

In [6]:
df

DataFrame[VendorID: int, tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp, passenger_count: int, trip_distance: double, RatecodeID: int, store_and_fwd_flag: string, PULocationID: int, DOLocationID: int, payment_type: int, fare_amount: int, extra: double, mta_tax: double, tip_amount: int, tolls_amount: double, improvement_surcharge: double, total_amount: double, congestion_surcharge: string]

In [7]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       2| 2019-01-01 02:06:42|  2019-01-01 02:22:44|              1|         5.71|         1|                 N|         238|         243|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|       23.76|                NULL|
|       1| 2019-01-07 11:42:14|  2019-01-07 11:46:28|              1|          0.6|         1|                 N|         234|         164|           2|          5|  0.0|    0.5|         0|         0.0|                  0.3|         5.8|                NULL|
|       2| 2019-01-07 15:50:55|  2019-01-07 15:53:29|              2|         0.57|         1|                 N|         170|         164|           1|          4|  0.0|    0.5|      NULL|         0.0|                  0.3|        5.76|                NULL|
|       2| 2019-01-05 22:32:16|  2019-01-05 22:41:38|              1|         1.64|         1|                 N|         238|         262|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|       11.76|                NULL|
|       1| 2019-01-04 10:52:59|  2019-01-04 11:08:54|              1|          1.6|         1|                 N|         170|         163|           1|         11|  0.0|    0.5|      NULL|         0.0|                  0.3|       14.75|                NULL|
|       2| 2019-01-05 00:31:26|  2019-01-05 00:39:14|              1|         1.85|         1|                 N|         158|          13|           1|          8|  0.5|    0.5|      NULL|         0.0|                  0.3|       11.16|                NULL|
|       2| 2019-01-01 02:42:27|  2019-01-01 02:49:44|              1|          2.3|         1|                 N|          79|         233|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|       11.76|                NULL|
|       2| 2019-01-02 23:58:58|  2019-01-03 00:03:53|              1|         1.23|         1|                 N|         234|         233|           1|          6|  0.5|    0.5|      NULL|         0.0|                  0.3|        8.76|                NULL|
|       2| 2019-01-02 11:31:11|  2019-01-02 11:38:47|              1|         1.31|         1|                 N|         125|         148|           1|       NULL|  0.0|    0.5|      NULL|         0.0|                  0.3|        9.96|                NULL|
|       2| 2019-01-07 14:12:32|  2019-01-07 14:27:58|              1|         1.22|         1|                 N|         230|         170|           2|       NULL|  0.0|    0.5|         0|         0.0|                  0.3|        11.3|                NULL|
|       2| 2019-01-02 06:41:00|  2019-01-02 07:10:09|              1|         7.14|         5|                 N|         188|          29|           1|       NULL|  0.0|    0.5|         0|         0.0|                  0.3|       23.21|                NULL|
|       2| 2019-01-04 18:29:12|  2019-01-04 18:35:25|              1|         0.74|         1|                 N|         164|         164|           1|       NULL|  1.0|    0.5|      NULL|         0.0|                  0.3|        8.76|                NULL|
|       2| 2019-01-03 11:24:50|  2019-01-03 11:47:36|              1|         4.32|         1|                 N|         230|          13|           1|         19|  0.0|    0.5|      NULL|         0.0|                  0.3|       23.76|                NULL|
|       1| 2019-01-07 21:24:32|  2019-01-07 21:26:51|              0|          0.3|         1|                 N|         239|         239|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|        5.55|                NULL|
|       2| 2019-01-07 12:35:07|  2019-01-07 13:00:12|              1|         4.17|         1|                 N|         166|         162|           1|       NULL|  0.0|    0.5|      NULL|         0.0|                  0.3|       23.16|                NULL|
|       2| 2019-01-06 18:41:26|  2019-01-06 18:48:03|              1|         1.52|         1|                 N|         170|         141|           1|          7|  0.0|    0.5|         1|         0.0|                  0.3|         8.8|                NULL|
|       2| 2019-01-06 06:09:46|  2019-01-06 06:21:49|              1|         5.47|         1|                 N|         234|         226|           2|         17|  0.0|    0.5|         0|         0.0|                  0.3|        17.8|                NULL|
|       1| 2019-01-02 11:06:39|  2019-01-02 11:11:21|              1|          1.2|         1|                 N|         231|         249|           2|          6|  0.0|    0.5|         0|         0.0|                  0.3|         6.8|                NULL|
|       2| 2019-01-03 14:33:29|  2019-01-03 14:43:55|              6|         1.82|         1|                 N|         237|         239|           1|          9|  0.0|    0.5|      NULL|         0.0|                  0.3|       11.76|                NULL|
|       2| 2019-01-06 10:45:49|  2019-01-06 11:12:11|              5|         9.84|         1|                 N|         239|          65|           1|         31|  0.0|    0.5|      NULL|         0.0|                  0.3|       39.75|                NULL|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

In [8]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: integer (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: integer (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: string (nullable = true)

In [9]:
df.select('PULocationID', 'DOLocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime')

DataFrame[PULocationID: int, DOLocationID: int, tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp]

In [10]:
!head -n 10 head.csv

VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge

1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.50,1,N,151,239,1,7,0.5,0.5,1.65,0,0.3,9.95,

1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.60,1,N,239,246,1,14,0.5,0.5,1,0,0.3,16.3,

2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,.00,1,N,236,236,1,4.5,0.5,0.5,0,0,0.3,5.8,

2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,.00,1,N,193,193,2,3.5,0.5,0.5,0,0,0.3,7.55,

2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,.00,2,N,193,193,2,52,0,0.5,0,0,0.3,55.55,

2,2018-11-28 16:25:49,2018-11-28 16:28:26,5,.00,1,N,193,193,2,3.5,0.5,0.5,0,5.76,0.3,13.31,

2,2018-11-28 16:29:37,2018-11-28 16:33:43,5,.00,2,N,193,193,2,52,0,0.5,0,0,0.3,55.55,

1,2019-01-01 00:21:28,2019-01-01 00:28:37,1,1.30,1,N,163,229,1,6.5,0.5,0.5,1.25,0,0.3,9.05,

1,2019-01-01 00:32:01,2019-01-01 00:45:39,1,3.70,1,N,229,7,1,13.5,0.5,0.5,3.7,0,0.3,18.5,

In [13]:
df.select('PULocationID', 'DOLocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime') \
    .filter(df.VendorID == 1)

DataFrame[PULocationID: int, DOLocationID: int, tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp]

In [15]:
df.select('PULocationID', 'DOLocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime') \
    .filter(df.VendorID == 1) \
    .show()

+------------+------------+--------------------+---------------------+
|PULocationID|DOLocationID|tpep_pickup_datetime|tpep_dropoff_datetime|
+------------+------------+--------------------+---------------------+
|         234|         164| 2019-01-07 11:42:14|  2019-01-07 11:46:28|
|         170|         163| 2019-01-04 10:52:59|  2019-01-04 11:08:54|
|         239|         239| 2019-01-07 21:24:32|  2019-01-07 21:26:51|
|         231|         249| 2019-01-02 11:06:39|  2019-01-02 11:11:21|
|          79|         230| 2019-01-05 00:02:42|  2019-01-05 00:18:55|
|         236|         236| 2019-01-05 16:20:59|  2019-01-05 16:22:28|
|         124|         209| 2019-01-07 05:53:00|  2019-01-07 06:43:16|
|         125|          90| 2019-01-05 18:19:27|  2019-01-05 18:26:45|
|         162|         116| 2019-01-01 01:15:23|  2019-01-01 01:39:27|
|         236|          75| 2019-01-03 09:54:54|  2019-01-03 09:57:54|
|         262|         141| 2019-01-04 12:01:20|  2019-01-04 12:15:16|
|         151|         138| 2019-01-02 12:58:25|  2019-01-02 13:25:16|
|          33|         195| 2019-01-05 23:52:52|  2019-01-05 23:59:13|
|         113|         148| 2019-01-06 18:30:11|  2019-01-06 18:37:45|
|         161|         249| 2019-01-07 19:21:05|  2019-01-07 19:35:44|
|         164|         162| 2019-01-07 10:00:27|  2019-01-07 10:09:56|
|         229|         239| 2019-01-07 21:07:29|  2019-01-07 21:16:15|
|         166|         238| 2019-01-06 12:48:27|  2019-01-06 12:53:20|
|         236|         236| 2019-01-03 14:30:07|  2019-01-03 14:36:41|
|         107|         170| 2019-01-04 12:02:47|  2019-01-04 12:05:55|
+------------+------------+--------------------+---------------------+
only showing top 20 rows

In [17]:
df.select('PULocationID', 'DOLocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime') \
    .filter(df.VendorID == 1) \
    .take(5)

[Row(PULocationID=234, DOLocationID=164, tpep_pickup_datetime=datetime.datetime(2019, 1, 7, 11, 42, 14), tpep_dropoff_datetime=datetime.datetime(2019, 1, 7, 11, 46, 28)),
 Row(PULocationID=170, DOLocationID=163, tpep_pickup_datetime=datetime.datetime(2019, 1, 4, 10, 52, 59), tpep_dropoff_datetime=datetime.datetime(2019, 1, 4, 11, 8, 54)),
 Row(PULocationID=239, DOLocationID=239, tpep_pickup_datetime=datetime.datetime(2019, 1, 7, 21, 24, 32), tpep_dropoff_datetime=datetime.datetime(2019, 1, 7, 21, 26, 51)),
 Row(PULocationID=231, DOLocationID=249, tpep_pickup_datetime=datetime.datetime(2019, 1, 2, 11, 6, 39), tpep_dropoff_datetime=datetime.datetime(2019, 1, 2, 11, 11, 21)),
 Row(PULocationID=79, DOLocationID=230, tpep_pickup_datetime=datetime.datetime(2019, 1, 5, 0, 2, 42), tpep_dropoff_datetime=datetime.datetime(2019, 1, 5, 0, 18, 55))]

In [20]:
df.select("PULocationID").distinct().show()

+------------+
|PULocationID|
+------------+
|         148|
|         243|
|          31|
|         137|
|          85|
|         251|
|          65|
|         255|
|          53|
|         133|
|          78|
|         108|
|         155|
|         211|
|         193|
|          34|
|         101|
|         126|
|         115|
|          81|
+------------+
only showing top 20 rows

In [22]:
df.select("PULocationID").distinct().count()

263

In [23]:
from pyspark.sql import  functions as F

In [25]:
df.select('PULocationID', 'DOLocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime') \
    .filter(df.VendorID == 1) \
    .show()

+------------+------------+--------------------+---------------------+
|PULocationID|DOLocationID|tpep_pickup_datetime|tpep_dropoff_datetime|
+------------+------------+--------------------+---------------------+
|         234|         164| 2019-01-07 11:42:14|  2019-01-07 11:46:28|
|         170|         163| 2019-01-04 10:52:59|  2019-01-04 11:08:54|
|         239|         239| 2019-01-07 21:24:32|  2019-01-07 21:26:51|
|         231|         249| 2019-01-02 11:06:39|  2019-01-02 11:11:21|
|          79|         230| 2019-01-05 00:02:42|  2019-01-05 00:18:55|
|         236|         236| 2019-01-05 16:20:59|  2019-01-05 16:22:28|
|         124|         209| 2019-01-07 05:53:00|  2019-01-07 06:43:16|
|         125|          90| 2019-01-05 18:19:27|  2019-01-05 18:26:45|
|         162|         116| 2019-01-01 01:15:23|  2019-01-01 01:39:27|
|         236|          75| 2019-01-03 09:54:54|  2019-01-03 09:57:54|
|         262|         141| 2019-01-04 12:01:20|  2019-01-04 12:15:16|
|         151|         138| 2019-01-02 12:58:25|  2019-01-02 13:25:16|
|          33|         195| 2019-01-05 23:52:52|  2019-01-05 23:59:13|
|         113|         148| 2019-01-06 18:30:11|  2019-01-06 18:37:45|
|         161|         249| 2019-01-07 19:21:05|  2019-01-07 19:35:44|
|         164|         162| 2019-01-07 10:00:27|  2019-01-07 10:09:56|
|         229|         239| 2019-01-07 21:07:29|  2019-01-07 21:16:15|
|         166|         238| 2019-01-06 12:48:27|  2019-01-06 12:53:20|
|         236|         236| 2019-01-03 14:30:07|  2019-01-03 14:36:41|
|         107|         170| 2019-01-04 12:02:47|  2019-01-04 12:05:55|
+------------+------------+--------------------+---------------------+
only showing top 20 rows

In [30]:
df \
   .withColumn('pickup_date', F.to_date(df.tpep_pickup_datetime)) \
   .withColumn('dropoff_date', F.to_date(df.tpep_dropoff_datetime)) \
   .show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|pickup_date|dropoff_date|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------+
|       2| 2019-01-01 02:06:42|  2019-01-01 02:22:44|              1|         5.71|         1|                 N|         238|         243|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|       23.76|                NULL| 2019-01-01|  2019-01-01|
|       1| 2019-01-07 11:42:14|  2019-01-07 11:46:28|              1|          0.6|         1|                 N|         234|         164|           2|          5|  0.0|    0.5|         0|         0.0|                  0.3|         5.8|                NULL| 2019-01-07|  2019-01-07|
|       2| 2019-01-07 15:50:55|  2019-01-07 15:53:29|              2|         0.57|         1|                 N|         170|         164|           1|          4|  0.0|    0.5|      NULL|         0.0|                  0.3|        5.76|                NULL| 2019-01-07|  2019-01-07|
|       2| 2019-01-05 22:32:16|  2019-01-05 22:41:38|              1|         1.64|         1|                 N|         238|         262|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|       11.76|                NULL| 2019-01-05|  2019-01-05|
|       1| 2019-01-04 10:52:59|  2019-01-04 11:08:54|              1|          1.6|         1|                 N|         170|         163|           1|         11|  0.0|    0.5|      NULL|         0.0|                  0.3|       14.75|                NULL| 2019-01-04|  2019-01-04|
|       2| 2019-01-05 00:31:26|  2019-01-05 00:39:14|              1|         1.85|         1|                 N|         158|          13|           1|          8|  0.5|    0.5|      NULL|         0.0|                  0.3|       11.16|                NULL| 2019-01-05|  2019-01-05|
|       2| 2019-01-01 02:42:27|  2019-01-01 02:49:44|              1|          2.3|         1|                 N|          79|         233|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|       11.76|                NULL| 2019-01-01|  2019-01-01|
|       2| 2019-01-02 23:58:58|  2019-01-03 00:03:53|              1|         1.23|         1|                 N|         234|         233|           1|          6|  0.5|    0.5|      NULL|         0.0|                  0.3|        8.76|                NULL| 2019-01-02|  2019-01-03|
|       2| 2019-01-02 11:31:11|  2019-01-02 11:38:47|              1|         1.31|         1|                 N|         125|         148|           1|       NULL|  0.0|    0.5|      NULL|         0.0|                  0.3|        9.96|                NULL| 2019-01-02|  2019-01-02|
|       2| 2019-01-07 14:12:32|  2019-01-07 14:27:58|              1|         1.22|         1|                 N|         230|         170|           2|       NULL|  0.0|    0.5|         0|         0.0|                  0.3|        11.3|                NULL| 2019-01-07|  2019-01-07|
|       2| 2019-01-02 06:41:00|  2019-01-02 07:10:09|              1|         7.14|         5|                 N|         188|          29|           1|       NULL|  0.0|    0.5|         0|         0.0|                  0.3|       23.21|                NULL| 2019-01-02|  2019-01-02|
|       2| 2019-01-04 18:29:12|  2019-01-04 18:35:25|              1|         0.74|         1|                 N|         164|         164|           1|       NULL|  1.0|    0.5|      NULL|         0.0|                  0.3|        8.76|                NULL| 2019-01-04|  2019-01-04|
|       2| 2019-01-03 11:24:50|  2019-01-03 11:47:36|              1|         4.32|         1|                 N|         230|          13|           1|         19|  0.0|    0.5|      NULL|         0.0|                  0.3|       23.76|                NULL| 2019-01-03|  2019-01-03|
|       1| 2019-01-07 21:24:32|  2019-01-07 21:26:51|              0|          0.3|         1|                 N|         239|         239|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|        5.55|                NULL| 2019-01-07|  2019-01-07|
|       2| 2019-01-07 12:35:07|  2019-01-07 13:00:12|              1|         4.17|         1|                 N|         166|         162|           1|       NULL|  0.0|    0.5|      NULL|         0.0|                  0.3|       23.16|                NULL| 2019-01-07|  2019-01-07|
|       2| 2019-01-06 18:41:26|  2019-01-06 18:48:03|              1|         1.52|         1|                 N|         170|         141|           1|          7|  0.0|    0.5|         1|         0.0|                  0.3|         8.8|                NULL| 2019-01-06|  2019-01-06|
|       2| 2019-01-06 06:09:46|  2019-01-06 06:21:49|              1|         5.47|         1|                 N|         234|         226|           2|         17|  0.0|    0.5|         0|         0.0|                  0.3|        17.8|                NULL| 2019-01-06|  2019-01-06|
|       1| 2019-01-02 11:06:39|  2019-01-02 11:11:21|              1|          1.2|         1|                 N|         231|         249|           2|          6|  0.0|    0.5|         0|         0.0|                  0.3|         6.8|                NULL| 2019-01-02|  2019-01-02|
|       2| 2019-01-03 14:33:29|  2019-01-03 14:43:55|              6|         1.82|         1|                 N|         237|         239|           1|          9|  0.0|    0.5|      NULL|         0.0|                  0.3|       11.76|                NULL| 2019-01-03|  2019-01-03|
|       2| 2019-01-06 10:45:49|  2019-01-06 11:12:11|              5|         9.84|         1|                 N|         239|          65|           1|         31|  0.0|    0.5|      NULL|         0.0|                  0.3|       39.75|                NULL| 2019-01-06|  2019-01-06|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------+
only showing top 20 rows

In [35]:
df \
   .withColumn('pickup_date', F.to_date(df.tpep_pickup_datetime)) \
   .withColumn('dropoff_date', F.to_date(df.tpep_dropoff_datetime)) \
    .select('PULocationID', 'DOLocationID', 'pickup_date', 'dropoff_date', 'store_and_fwd_flag') \
   .show()

+------------+------------+-----------+------------+------------------+
|PULocationID|DOLocationID|pickup_date|dropoff_date|store_and_fwd_flag|
+------------+------------+-----------+------------+------------------+
|         238|         243| 2019-01-01|  2019-01-01|                 N|
|         234|         164| 2019-01-07|  2019-01-07|                 N|
|         170|         164| 2019-01-07|  2019-01-07|                 N|
|         238|         262| 2019-01-05|  2019-01-05|                 N|
|         170|         163| 2019-01-04|  2019-01-04|                 N|
|         158|          13| 2019-01-05|  2019-01-05|                 N|
|          79|         233| 2019-01-01|  2019-01-01|                 N|
|         234|         233| 2019-01-02|  2019-01-03|                 N|
|         125|         148| 2019-01-02|  2019-01-02|                 N|
|         230|         170| 2019-01-07|  2019-01-07|                 N|
|         188|          29| 2019-01-02|  2019-01-02|                 N|
|         164|         164| 2019-01-04|  2019-01-04|                 N|
|         230|          13| 2019-01-03|  2019-01-03|                 N|
|         239|         239| 2019-01-07|  2019-01-07|                 N|
|         166|         162| 2019-01-07|  2019-01-07|                 N|
|         170|         141| 2019-01-06|  2019-01-06|                 N|
|         234|         226| 2019-01-06|  2019-01-06|                 N|
|         231|         249| 2019-01-02|  2019-01-02|                 N|
|         237|         239| 2019-01-03|  2019-01-03|                 N|
|         239|          65| 2019-01-06|  2019-01-06|                 N|
+------------+------------+-----------+------------+------------------+
only showing top 20 rows

In [46]:
def to_lower(s):
    if s is not None:
        return s.lower()
    else:
        return None

In [53]:
to_lower('FF')

'ff'

In [56]:
lowerCaseUDF = F.udf(to_lower, returnType= types.StringType())

In [59]:
df = df.withColumn('column_name_lower', lowerCaseUDF(df.store_and_fwd_flag)).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|column_name_lower|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------------+
|       2| 2019-01-01 02:06:42|  2019-01-01 02:22:44|              1|         5.71|         1|                 N|         238|         243|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|       23.76|                NULL|                n|
|       1| 2019-01-07 11:42:14|  2019-01-07 11:46:28|              1|          0.6|         1|                 N|         234|         164|           2|          5|  0.0|    0.5|         0|         0.0|                  0.3|         5.8|                NULL|                n|
|       2| 2019-01-07 15:50:55|  2019-01-07 15:53:29|              2|         0.57|         1|                 N|         170|         164|           1|          4|  0.0|    0.5|      NULL|         0.0|                  0.3|        5.76|                NULL|                n|
|       2| 2019-01-05 22:32:16|  2019-01-05 22:41:38|              1|         1.64|         1|                 N|         238|         262|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|       11.76|                NULL|                n|
|       1| 2019-01-04 10:52:59|  2019-01-04 11:08:54|              1|          1.6|         1|                 N|         170|         163|           1|         11|  0.0|    0.5|      NULL|         0.0|                  0.3|       14.75|                NULL|                n|
|       2| 2019-01-05 00:31:26|  2019-01-05 00:39:14|              1|         1.85|         1|                 N|         158|          13|           1|          8|  0.5|    0.5|      NULL|         0.0|                  0.3|       11.16|                NULL|                n|
|       2| 2019-01-01 02:42:27|  2019-01-01 02:49:44|              1|          2.3|         1|                 N|          79|         233|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|       11.76|                NULL|                n|
|       2| 2019-01-02 23:58:58|  2019-01-03 00:03:53|              1|         1.23|         1|                 N|         234|         233|           1|          6|  0.5|    0.5|      NULL|         0.0|                  0.3|        8.76|                NULL|                n|
|       2| 2019-01-02 11:31:11|  2019-01-02 11:38:47|              1|         1.31|         1|                 N|         125|         148|           1|       NULL|  0.0|    0.5|      NULL|         0.0|                  0.3|        9.96|                NULL|                n|
|       2| 2019-01-07 14:12:32|  2019-01-07 14:27:58|              1|         1.22|         1|                 N|         230|         170|           2|       NULL|  0.0|    0.5|         0|         0.0|                  0.3|        11.3|                NULL|                n|
|       2| 2019-01-02 06:41:00|  2019-01-02 07:10:09|              1|         7.14|         5|                 N|         188|          29|           1|       NULL|  0.0|    0.5|         0|         0.0|                  0.3|       23.21|                NULL|                n|
|       2| 2019-01-04 18:29:12|  2019-01-04 18:35:25|              1|         0.74|         1|                 N|         164|         164|           1|       NULL|  1.0|    0.5|      NULL|         0.0|                  0.3|        8.76|                NULL|                n|
|       2| 2019-01-03 11:24:50|  2019-01-03 11:47:36|              1|         4.32|         1|                 N|         230|          13|           1|         19|  0.0|    0.5|      NULL|         0.0|                  0.3|       23.76|                NULL|                n|
|       1| 2019-01-07 21:24:32|  2019-01-07 21:26:51|              0|          0.3|         1|                 N|         239|         239|           1|       NULL|  0.5|    0.5|      NULL|         0.0|                  0.3|        5.55|                NULL|                n|
|       2| 2019-01-07 12:35:07|  2019-01-07 13:00:12|              1|         4.17|         1|                 N|         166|         162|           1|       NULL|  0.0|    0.5|      NULL|         0.0|                  0.3|       23.16|                NULL|                n|
|       2| 2019-01-06 18:41:26|  2019-01-06 18:48:03|              1|         1.52|         1|                 N|         170|         141|           1|          7|  0.0|    0.5|         1|         0.0|                  0.3|         8.8|                NULL|                n|
|       2| 2019-01-06 06:09:46|  2019-01-06 06:21:49|              1|         5.47|         1|                 N|         234|         226|           2|         17|  0.0|    0.5|         0|         0.0|                  0.3|        17.8|                NULL|                n|
|       1| 2019-01-02 11:06:39|  2019-01-02 11:11:21|              1|          1.2|         1|                 N|         231|         249|           2|          6|  0.0|    0.5|         0|         0.0|                  0.3|         6.8|                NULL|                n|
|       2| 2019-01-03 14:33:29|  2019-01-03 14:43:55|              6|         1.82|         1|                 N|         237|         239|           1|          9|  0.0|    0.5|      NULL|         0.0|                  0.3|       11.76|                NULL|                n|
|       2| 2019-01-06 10:45:49|  2019-01-06 11:12:11|              5|         9.84|         1|                 N|         239|          65|           1|         31|  0.0|    0.5|      NULL|         0.0|                  0.3|       39.75|                NULL|                n|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------------+
only showing top 20 rows